/* Body styles */
body{
    background-image: linear-gradient(to right, rgb(236, 184, 40), rgb(41, 175, 63));
    text-align: center;
}

p{
    padding-top: 20px;
}
/* Header styles */
.header{
    text-align: center;
    padding-bottom: 10px;
    font-size:100px;
}

h2, h3{
    padding-bottom: 20px;
    cursor: pointer;
}

/* Footer styles */
footer p{
    text-align: center;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
}

/* img styles */

img {
    border-style: double;
    border-radius: 50%;
    height: 150px;
    width: auto;
}

/* button styles */

button {
    background-color: darkslateblue;
    color: white;
    margin-bottom: 16px;
    cursor: crosshair;
}

button:hover{
    background-color: violet;
    color: black;
}

/* Jumbotron */

.jumbotron{
    background-image: linear-gradient(red, white, blue);
    color: rgb(22, 23, 114);
    padding: 16px;
}

.foods{
    border: 5px solid rgb(129, 240, 181);

}