/* Body styles */
body{
    text-align: center;
}

p{
    padding-top: 5px;
}
/* Header styles */
.header{
    text-align: center;
    padding-bottom: 10px;
    font-size:100px;
}

h2, h3{
    padding-bottom: 20px;
    cursor: pointer;
}

/* Footer styles */
footer p{
    text-align: center;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* img styles */

img {
    border-style: double;
    border-radius: 50%;
    height: 150px;
    width: auto;
}

img.header{
    border-style: none;
    border-radius: 0%;
    transform: rotate(30deg);
    height: 500px;
    width: auto;
}

/* button styles */

button {
    background-color: darkslateblue;
    color: white;
    margin-bottom: 16px;
    cursor: crosshair;
}

button:hover{
    background-color: violet;
    color: black;
}

/* Jumbotron */

.jumbotron{
    /*background-image: linear-gradient(red, white, blue);
    color: rgb(22, 23, 114);*/
    padding: 16px;
}

.foods{
    border: 5px solid rgb(235, 235, 225);

}

/* Food */

.description{
    background-color: rgb(244, 253, 117);
}

.price{
    background-color: slateblue;
}